/* .App{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(13, 17, 24, 0.3);
  background-image: url(./Components/Images/atmosphere.jpg);
  backdrop-filter: blur(10px);
  left: 0;
  top: 0;
} */

.App {
  position: relative;
}

.App::before {
  content: "";
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(./Components/Images/atmosphere.jpg);
  /* background-size: cover; */
  background-position: center;
  filter: blur(5px);
}